body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  background-color: #fcf0c0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.shape-card {
  padding: 20px;
  box-shadow: 4px 43px 145px -76px rgba(0,0,0,0.75);
  background-color: aliceblue;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s;
  @starting-style {
    transform: scale(0);
  }
}
.shape-card svg path{
  transition: 1s; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  all: unset;
}

.edges-button {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  background-color: #8967B3;
  color: #fcf0c0;
  border: none;
  font-weight: 700;
}

.download-button {

  padding: 20px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  background-color: #E6D9A2;
  color: #624E88;
  border: none;
  font-weight: 700;
}